*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    width:100vw;
    height:100vh;
    display:flex;flex-flow:column;
    overflow:hidden
}
nav{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color:rgb(117, 1, 82);
}
.buttons{
    display:flex;
    gap:20px;
    
}

.btn{
    border:none;
    background:transparent;
    color:white;
    font-size:20px;
}

.main{
    border:none;
    text-decoration : underline;
    background:none;
    display: block;
    color:white;
    font-size:30px;
}

.box{
    display:flex;
    flex-flow:column;
    align-items: center;
    justify-content: center;
    color:white;
    font-size:40px;
    height:560px;
    overflow:hidden;
}
input{
    width:100px;
    height:30px;
}
.main-box{
    background-color:rgb(117, 1, 82);
}
.home-box{
    background-color:rgb(92, 117, 1);
}.about-box{
    background-color:rgb(1, 117, 102);
}.contact-box{
    background-color:rgb(1, 117, 7);
}